body{
	margin-left: 20px;
	background-color: pink;
	font-family: 'Sofadi One', cursive;
}

.note{
	background-color: gold;
	display: inline-block;
	width: 150px;
	height: 150px;
	border: 1px solid black;
	padding: 7px;
	margin: 5px;
	vertical-align: top;

}

span{
	text-decoration: underline;
}

.link{
	display: inline-block;
	float: right;
}

.box{
	width: 130px;
	background-color: gold;
}

#button{
	background-color: lightblue;
}
