body{
	background-color: lightblue;
	margin: 20px;
	text-align: center;
}

span{
	display: inline-block;
	padding: 15px;
}

h2{
	display: inline-block;
}

#forecast{
	font-size: 20px;
	border: 2px solid yellow;
	display: inline-block;
	padding: 10px;
}
