// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
margin-top: 60px;
text-align: center;
	background: rgb(255,93,177); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(255,93,177,1) 0%, rgba(81,175,219,1) 26%, rgba(239,1,124,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,93,177,1)), color-stop(26%,rgba(81,175,219,1)), color-stop(100%,rgba(239,1,124,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(255,93,177,1) 0%,rgba(81,175,219,1) 26%,rgba(239,1,124,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(255,93,177,1) 0%,rgba(81,175,219,1) 26%,rgba(239,1,124,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(255,93,177,1) 0%,rgba(81,175,219,1) 26%,rgba(239,1,124,1) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(255,93,177,1) 0%,rgba(81,175,219,1) 26%,rgba(239,1,124,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5db1', endColorstr='#ef017c',GradientType=1 ); /* IE6-9 */

}

#box{
	border: 1px solid black;
	display: inline-block;
	padding: 20px;
	background-color: white;
}